* {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--deep-purple-50);
  background: linear-gradient(to right, var(--dark-white), var(--deep-purple-100));
}

.box {
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  background-color: white;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
}

#login {
  padding: 10px;
  width: 50%;
  height: 480px;
  display: flex;
  align-items: center;
  justify-content: center;
}

h2 {
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 5px;
}

h3 {
  letter-spacing: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.person {
  font-size: 100px;
}

#text-box {
  background: linear-gradient(to right, var(--deep-purple-400), var(--deep-purple-600));
  min-height: 480px;
  width: 50%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.btn-2 {
  margin-top: 15px;
}

.active-text-box-register {
  transform: translateX(-100%);
  transition: all 0.4s;
}

.active-register {
  transform: translateX(100%);
  transition: transform 0.4s;
}

.active-login {
  transform: translateX(0);
  transition: transform 0.4s;
}

.active-text-box-login {
  transform: translateX(0);
  transition: transform 0.4s;
}

mat-form-field {
  width: 350px;
}

.hidden {
  display: none;
}

.p-r-5 {
  padding-right: 5px;
}

.p-15 {
  padding-right: 15px;
}

.p-30 {
  padding-right: 30px;
}


